---
import aboutImg from "@/assets/profile-pic.jpg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Welcome &#128075, my name is Chantal and I am a Site Reliability Engineer currently interested
			Kubernetes, NixOS, and AWS. Occassionally, you may find a stray post about my latest D&D
			miniature painting obsession, or my valiant quests in the kingdom of King Arthur's Flour,
			where I battle floury foes to bake the perfect masterpiece.
		</p>
		<div class="flex justify-center">
			<Image
				alt="An image of myself, the author of this blog."
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
				class="rounded-full"
			/>
		</div>
		<p>A little bit about me.</p>
		<ul class="list-outside list-disc pl-5 [&_ul]:list-[revert]">
			<li>
				<b>I have 4 Cloud-Affiliated Certifications:</b>
				<ul style="margin-left: 1rem;">
					<li>Certified Kubernetes Application Developer &#x2693</li>
					<li>AWS Security Specialty &#x1F512</li>
					<li>AWS Developer Associate &#x1F469&#x200D&#x1F4BB</li>
					<li>AWS Solutions Architect Associate &#x1F3D7</li>
				</ul>
			</li>
			<li>
				<b>Currently I have my sights set on:</b>
				<ul style="margin-left: 1rem;">
					<li><b>Taking Soon:</b> Certified Kubernetes Administrator</li>
					<li><b>Studying Next:</b> Certified Kubernetes Security Specialist</li>
					<li>
						<b>Enrolling in:</b>
						<a
							aria-label="github repository"
							class="cactus-link inline-block"
							href="https://www.coursera.org/specializations/mathematics-machine-learning"
							rel="noopener noreferrer"
							target="_blank"
							>Mathematics for Machine Learning Specialization by Imperial College London</a
						>
					</li>
				</ul>
				<li>
					<b>Professionally these days I have been dabbling in:</b>
					<ul style="margin-left: 1rem;">
						<li>
							<a
								aria-label="github repository"
								class="cactus-link inline-block"
								href="https://nixos.org"
								rel="noopener noreferrer"
								target="_blank">NixOS</a
							>: Seriously if you have never heard of it, do yourself a favor, spin up a VM and
							check it out. Version-controlled OS, where you can play, break, and test things
							painlessly, I vote yes every time! I only develop under this OS, and am a full
							convert.
						</li>
						<li>Bash</li>
						<li>Nix</li>
						<li>Java</li>
						<li>Python</li>
					</ul>
					<li>
						<b>Fun fact</b> -- Recently, someone told me I looked too young to have had two careers!
						I actually used to be a certified educator. Armed with an M.Ed. from UNLV, I had the joy
						of nurturing the next generation of young D&D players as a club sponsor. Let's just say I've
						got the battle scars from wrangling those little ones to prove it! &#128514 Running this
						blog evokes nostalgia from my teaching days in the high school and middle school setting.
						I hope the insights I share offer some valuable takeaways, cheers!
					</li>
				</li>
			</li>
		</ul>
	</div>
</PageLayout>
